<!DOCTYPE html>
<html>
<head>
    <title>Manual de Sobrevivência!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le styles -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="../static/css/docs.css" rel="stylesheet">
    <link href="../static/js/google-code-prettify/prettify.css" rel="stylesheet">
    <link href="../static/font/css/font-awesome.css" rel="stylesheet">
    <link rel="shortcut icon" href="/static/img/logo.png">


    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="../static/js/html5shiv.js"></script>
    <![endif]-->

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-146052-10']);
        _gaq.push(['_trackPageview']);
        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    </script>
</head>
<!-- SCM Music Player http://scmplayer.net -->
<script type="text/javascript" src="http://scmplayer.net/script.js"
data-config="{'skin':'skins/black/skin.css','volume':25,'autoplay':true,'shuffle':true,'repeat':1,'placement':'top','showplaylist':false,'playlist':[{'title':' Phillip Phillips - Gone, Gone, Gone ','url':'https://www.youtube.com/watch?v=oozQ4yV__Vw'},{'title':'Arctic Monkeys - Suck It And See','url':'https://www.youtube.com/watch?v=H9svkVZ32Cg'},{'title':'Cher Lloyd - Want U Back','url':'https://www.youtube.com/watch?v=WUk8s9a-xGs'},{'title':'Jar Of Hearts','url':'https://www.youtube.com/watch?v=wTlUu0a9oWc'},{'title':'Let Her Go - Passenger ','url':'https://www.youtube.com/watch?v=meq0zmOb8EA'},{'title':'You & I ','url':'https://www.youtube.com/watch?v=_kqQDCxRCzM'}]}" ></script>
<!-- SCM Music Player script end -->

<!-- Banner -->
<div class='row visible-desktop'style='width:100%;margin:0;padding:0;background-image:url(../static/img/home.gif);background-size:100%;height:500px;text-align:center;color:white;'>
    <br style='line-height:100px'>
    <div style="height: 75px; width: 100%; background-color: rgba(255, 255, 255, 0.93); position: static; margin-top: 200px">
        <h1 style='font-size:300%;line-height:40px; color: rgb(5, 0, 2); padding-top: 18px;'>Manual de sobrevivência</h1>
    </div>
    <footer class="footer" style="background-color:black;color:#FFFFFF;border-bottom:5px solid #CB0A26;">
        <div id='row' style='margin-top:5px;text-align:center'>
            <ul class="nav navbar-nav navbar-rigth" style="padding: 5px 5px  10px">
            <a href="/cadastro" class="btn btn-info" style="margin-right:20px">cadastre-se</a>
            {% if _usuario_logado %}
            <a href="{{ _logout_url }}" class="btn btn-info">({{ _usuario_logado.nome }})Logout</a>
            {% else %}
            <a href="{{ _login_url }}" class="btn btn-success">Login</a>
            {% endif %}
            </ul>
        </div>
    </footer>
</div>



<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../static/js/jquery.js"></script>
<script src="../static/js/bootstrap-dropdown.js"></script>
<script src="../static/js/bootstrap-button.js"></script>
<script src="../static/js/bootstrap-collapse.js"></script>

</body>
</html>