body{
	margin:0;
	padding:0;
font-family: 'Duru Sans', sans-serif;


		
}

.banner{
	width:100%;
	margin:0;
	padding:0;
	height:50%;
	
}

.menu{
	font-size:13px;
	
}


.menu_mobile{
	color:white;
	font-weight:normal;
}

.grey-container{
	width:100%;
	margin:0;
	padding:0;
	height:100px;

}

.fotoNoticia{
	float:left;
	width:180px;
    height:140px;
}

.descricaoNoticia{
	float:left;
	height:140px;
	background-color:blue;
}

a{
	text-decoration:none;
}







